<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body class="blog kind-{{ .Kind }}">
    {{/* Navbar injected immediately after <body> */}}
    {{ partial "navbar_include.html" . }}

    <main id="content">
      {{ block "main" . }}{{ end }}
    </main>

    <footer class="site-footer">
      <div id="back-to-blog"><p><a href="https://classwith.nicojan.com/blog">&larr; Blog</a></p></div>
      <div id="go-home"><p><a href="https://classwith.nicojan.com">&larr; Class with Nico</a></p></div>
    </footer>
  </body>
</html>