---
layout: layouts/base.njk
---
<article>
  <p class="date">{{ page.date | readableDate }}</p>
  <h1 style="font-weight:600; font-size:1.6rem">{{ title }}</h1>
  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
