/* [Resolution: 991px] */

 @media screen and (max-width: 991px) { 

    .stylesheet-part {
        padding: 40px 0px 40px 0px;
    }

    body .t4 {
        row-gap: 30px;
        grid-template-columns: 1fr ;
    }

    body .t6 {
        color: rgba(163,117,255,1.00);
    }

    body .t34 {
        row-gap: 30px;
        grid-template-columns: 1fr ;
    }

    body .t36 {
        color: rgba(163,117,255,1.00);
    }

    body .t37 {
        row-gap: 20px;
    }

    body .t46 {
        row-gap: 30px;
        grid-template-columns: 1fr ;
    }

    body .t57 {
    }

 
}

/* [Resolution: 767px] */

 @media screen and (max-width: 767px) { 

 
}

/* [Resolution: 480px] */

 @media screen and (max-width: 480px) { 

 
}